/* 
    @name: 'Default Dark'
    @author: 'Albee'
    @version: '1.0'
    @description: 'Dark variant of default theme'
    @default-bg: 'https://cdn.discordapp.com/attachments/731985411039166495/871802373373296721/877a9f57b195c395be5507164b0e9e64.jpg'
*/

:root {
    --bg: #121622;
    --bg-accent: #1d2233;
    --clr: #EE4540;
    --clr-accent: #fa534d;
    --clr-secondary: #E13D40;
    --text: #FFFFFF;
    --text-accent: #E5E5E5;

    --white: var(--text);                                   /** Brightest color */
    --black: var(--bg);                                     /** Darkest color */

    --bg-rgb: 18, 22, 34;
    --bg-accent-rgb: 29, 34, 51;
    --clr-rgb: 238, 69, 64;
    --clr-accent-rgb: 250, 83, 77;
    --clr-secondary-rgb: 225, 61, 64;
    --text-rgb: 255, 255, 255;
    --text-accent-rgb: 229, 229, 229;
}

header {
    --profile-bg: var(--clr);
    --profile-text: var(--text);
}

:root {
    --app-icon-clr: var(--text);
}

footer {
    --main-button-text: var(--text);
    --sub-button-text: var(--text);
}