/* 
    @name: 'Dreamy'
    @author: 'Albee'
    @version: '1.0'
    @description: 'Purple variant of default theme'
    @default-bg: 'https://cdn.discordapp.com/attachments/731985411039166495/859672168735178763/6a62ed77268563.5c829061bda93.png'
*/

:root {
    --bg: #F2F2F2;
    --bg-accent: #cecece;
    --clr: #705CF2;
    --clr-accent: #8668FF;
    --clr-secondary: #6754E2;
    --text: #1C1924;
    --text-accent: #4B4753;

    --white: var(--bg);                                     /** Brightest color */
    --black: var(--text);                                   /** Darkest color */

    --bg-rgb: 242, 242, 242;
    --bg-accent-rgb: 206, 206, 206;
    --clr-rgb: 112, 92, 242;
    --clr-accent-rgb: 134, 104, 255;
    --clr-secondary-rgb: 103, 84, 226;
    --text-rgb: 28, 25, 36;
    --text-accent-rgb: 75, 71, 83;
}