/* 
    @name: 'Tenebris'
    @author: 'Albee'
    @version: '1.0'
    @description: 'looks cool ngl'
    @default-bg: 'https://cdn.discordapp.com/attachments/731985411039166495/871799152592449536/960776ee0a824b366435fcd1ec0f72b3.jpg'
*/

:root {
    --bg: #1C1924;
    --bg-accent: #4B4753;
    --clr: #67A4B9;
    --clr-accent: #77b4c9;
    --clr-secondary: #588ea0;
    --text: #FFFFFF;
    --text-accent: #E5E5E5;

    --white: var(--text);                                   /** Brightest color */
    --black: var(--bg);                                     /** Darkest color */

    --bg-rgb: 28, 25, 36;
    --bg-accent-rgb: 75, 71, 83;
    --clr-rgb: 103, 164, 185;
    --clr-accent-rgb: 119, 180, 201;
    --clr-secondary-rgb: 88, 142, 160;
    --text-rgb: 255, 255, 255;
    --text-accent-rgb: 229, 229, 229;
}

header {
    --profile-bg: var(--clr);
    --profile-text: var(--text);
}

:root {
    --app-icon-clr: var(--text);
}

main {
    --sidebar-bg: rgba(var(--bg-rgb), .16);
    --sidebar-text: rgba(var(--text-rgb), 1);
}

footer {
    --main-button-text: var(--text);
    --sub-button-text: var(--text);
}