/* 
    @name: 'Velvet'
    @author: 'Albee'
    @version: '1.0'
    @description: 'Dark aesthetic'
    @default-bg: '../../res/bg-dark.jpg'
*/

:root {
    --bg: #1C1924;
    --bg-accent: #4B4753;
    --clr: #705CF2;
    --clr-accent: #8668FF;
    --clr-secondary: #6754E2;
    --text: #FFFFFF;
    --text-accent: #E5E5E5;

    --white: var(--text);                                   /** Brightest color */
    --black: var(--bg);                                     /** Darkest color */

    --bg-rgb: 28, 25, 36;
    --bg-accent-rgb: 75, 71, 83;
    --clr-rgb: 112, 92, 242;
    --clr-accent-rgb: 134, 104, 255;
    --clr-secondary-rgb: 103, 84, 226;
    --text-rgb: 255, 255, 255;
    --text-accent-rgb: 229, 229, 229;
}

header {
    --profile-bg: var(--clr);
    --profile-text: var(--text);
}

:root {
    --app-icon-clr: var(--text);
}

footer {
    --main-button-text: var(--text);
    --sub-button-text: var(--text);
}