footer {
    height: var(--footer-height);
    background: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bar {
    --progress-height: 0;
    --progress-top-opacity: 0;

    z-index: 0;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.footer-bar .info {
    z-index: 1;
    flex: 1;
    padding-left: 64px;
    max-height: calc(100% - 8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 2px;

    font-size: 14px;
    font-weight: 700;

    transition: top .32s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.footer-bar .info > h1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
}

.footer-bar .info > p {
    opacity: .32;
    font-size: 14px;
    font-weight: 700;
}

.footer-bar .progress-bar {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.progress-bar .top {
    width: 100%;
    flex: 1;
    opacity: var(--progress-top-opacity);
    transition: opacity .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.progress-bar .bottom {
    height: var(--progress-height);
    transition: height .08s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
}

.progress-bar > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress-bar .progress-bg .bottom {
    background-color: var(--progress-bar-bg);
}

.progress-bar .filler {
    width: 0;
    transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes load-progress {
    0% {
        opacity: .64;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .64;
    }
}

.progress-bar .filler .top {
    background: rgba(var(--bg-accent-rgb), .08);
}

.progress-bar .filler .bottom {
    background: var(--progress-bar-filler);
    animation: load-progress 2s infinite linear;
}

.download .footer-bar {
    --progress-height: 8px !important;
    --progress-top-opacity: 1 !important;
}

.download .footer-bar .info {
    top: 0;
}

.soft-download .footer-bar {
    --progress-top-opacity: 1 !important;
}

.main-button-container {
    width: var(--sidebar-width);
    height: 100%;
    position: relative;
    opacity: 1;
}

.main-button-container:not(.locked) {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-button-container.locked {
    opacity: .8;
    cursor: not-allowed;
}

.main-button-container.locked * {
    pointer-events: none;
}

.main-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background: rgba(var(--main-button-bg-rgb)); */
    cursor: pointer;
}

.main-button > .info {
    color: var(--main-button-text);
    background: var(--main-button-bg);

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;

    /* transition: background .16s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.main-button-container:not(.locked) .main-button > .info:hover {
    background: var(--main-button-bg-hover);
}

.main-button > .info > h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
}

.main-button > .info > p {
    font-size: 13px;
    font-weight: 700;
    opacity: .48;
}

.open-other-buttons {
    --fill: var(--main-button-text);

    width: var(--footer-height);
    background-color: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.open-other-buttons:hover {
    background-color: var(--main-button-text);
    --fill: var(--clr-secondary);
}

.sub-button {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: var(--sidebar-width);
    height: 64px;

    cursor: pointer;
    opacity: 0;

    display: flex;

    transition: bottom .32s cubic-bezier(0.165, 0.84, 0.44, 1),
                opacity .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sub-button .info {
    color: var(--main-button-text);
    background: var(--main-button-bg);
}

.sub-button .info:hover {
    color: var(--main-button-text);
    background: var(--main-button-bg-hover);
}

.sub-button:nth-child(2n + 1) .info {
    color: var(--sub-button-text);
    background: var(--sub-button-bg);
}

.sub-button:nth-child(2n + 1) .info:hover {
    color: var(--sub-button-text);
    background: var(--sub-button-bg-hover);
}

.main-button-container.show-sub .sub-button {
    opacity: 1;
    bottom: calc(var(--order) * 64px + var(--footer-height));
}

.sub-button > .info {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;

    /* transition: background-color .16s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.sub-button > .info > h1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
}

.sub-button > .info > p {
    font-size: 12px;
    font-weight: 700;
    opacity: .64;
}

.sub-button .toggle {
    color: var(--sub-button-text);
    width: var(--footer-height);
    background-color: var(--sub-button-bg-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 15px;
    font-weight: 700;

    /* transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.sub-button .toggle:hover {
    color: var(--sub-button-bg);
    background-color: var(--sub-button-text);
}