header {
    z-index: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;

    background-color: var(--bg);
}

header > .nav {
    color: rgba(var(--text-rgb), .32);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 100%;
}

header >.nav > .nav-element {
    background: rgba(var(--text-rgb), 0);
    cursor: pointer;
    width: 128px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-element.active {
    color: var(--clr);
}

header >.nav > .nav-element:not(.active):hover {
    color: rgba(var(--text-rgb), .48);
}

header >.nav > .nav-element:hover {
    background: rgba(var(--text-rgb), .02);
}


header > .profile {
    position: relative;
    height: 100%;
    width: var(--side-bar-width);
}

.profile > .bg {
    z-index: 0;
}

.profile > .bg > .color {
    background-color: var(--profile-bg);
}
 
.profile > .profile-info {
    color: var(--profile-text);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;
}

.profile-info > h1 {
    font-size: 14px;
    font-weight: 700;
}

.profile-info > p {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    opacity: .48;

    transition: opacity .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.profile p:hover {
    opacity: 1;
}