body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    --side-bar-width: 384px;
}

.bg {
    z-index: -10;
}

body {
    animation: fadein .32s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    z-index: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;

    background-color: var(--bg);
}

header > .nav {
    color: rgba(var(--text-rgb), .32);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 100%;
}

header >.nav > .nav-element {
    background: rgba(var(--text-rgb), 0);
    cursor: pointer;
    width: 128px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-element.active {
    color: var(--clr);
}

header >.nav > .nav-element:not(.active):hover {
    color: rgba(var(--text-rgb), .48);
}

header >.nav > .nav-element:hover {
    background: rgba(var(--text-rgb), .02);
}


header > .profile {
    position: relative;
    height: 100%;
    width: var(--side-bar-width);
}

.profile > .bg {
    z-index: 0;
}

.profile > .bg > .color {
    background-color: var(--profile-bg);
}
 
.profile > .profile-info {
    color: var(--profile-text);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;
}

.profile-info > h1 {
    font-size: 14px;
    font-weight: 700;
}

.profile-info > p {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    opacity: .48;

    transition: opacity .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.profile p:hover {
    opacity: 1;
}

main {
    display: grid;
    flex: 1;
    place-items: center;
    color: var(--app-text);
}

footer {
    height: 80px;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bar {
    z-index: 0;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.footer-bar .info {
    z-index: 1;
    flex: 1;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 14px;
    font-weight: 700;
}

.footer-bar .info > h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.footer-bar .info > p {
    opacity: .32;
    font-size: 14px;
    font-weight: 700;
}

.footer-bar .progress-bar {
    --progress-height: 0;
    --progress-top-opacity: 0;

    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.progress-bar .top {
    width: 100%;
    flex: 1;
    opacity: var(--progress-top-opacity);
}

.progress-bar .bottom {
    height: var(--progress-height);
    width: 100%;
}

.progress-bar > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress-bar .progress-bg .bottom {
    background-color: rgba(var(--bg-accent-rgb), .32);
}

.progress-bar .filler {
    width: 50%;
    /* animation: temp 2s infinite; */
}

/* @keyframes temp {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */

@keyframes load-progress {
    0% {
        background-color: rgba(var(--clr-rgb), 1);
    }

    50% {
        background-color: rgba(var(--clr-accent-rgb), 1);
    }

    100% {
        background-color: rgba(var(--clr-rgb), 1);
    }
}

.progress-bar .filler .top {
    background-color: rgba(var(--bg-accent-rgb), .08);
}

.progress-bar .filler .bottom {
    background-color: rgba(var(--clr-rgb), 1);
    animation: load-progress 2s infinite linear;
}

.download .progress-bar {
    --progress-height: 8px !important;
    --progress-top-opacity: 1 !important;
}

.soft-download .progress-bar {
    --progress-top-opacity: 1 !important;
}

.main-button-container {
    width: var(--side-bar-width);
    height: 100%;
    position: relative;
}

.main-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background: rgba(var(--main-button-bg-rgb)); */
    cursor: pointer;
}

.main-button > .info {
    color: var(--main-button-text);
    background: rgba(var(--main-button-bg-rgb));

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;

    transition: background .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-button > .info:hover {
    background: rgba(var(--main-button-bg-hover-rgb), 1);
}

.main-button > .info > h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}

.main-button > .info > p {
    font-size: 12px;
    font-weight: 700;
    opacity: .64;
}

.open-other-buttons {
    --fill: var(--main-button-text);

    width: 80px;
    background-color: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.open-other-buttons:hover {
    background-color: var(--main-button-text);
    --fill: var(--clr-secondary);
}

.sub-button {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: var(--side-bar-width);
    height: 64px;

    color: var(--sub-button-text);
    background: rgba(var(--sub-button-bg-rgb));

    transition: all .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sub-button:hover {
    color: var(--sub-button-text);
    background: rgba(var(--sub-button-bg-hover-rgb));
}

.main-button-container:hover .sub-button {
    bottom: calc(var(--order) * 64px + 80px);
}

.sub-button > .info {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;
}

.sub-button > .info > h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.sub-button > .info > p {
    font-size: 12px;
    font-weight: 700;
    opacity: .64;
}