body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bg {
    z-index: -10;
}

main {
    flex: 1;
    color: var(--app-text);
}

.sections {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sections > section {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    opacity: 1;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: left .32s cubic-bezier(0.23, 1, 0.320, 1),
                opacity .32s cubic-bezier(0.23, 1, 0.320, 1);
}

.toleft {
    pointer-events: none !important;
    opacity: 0 !important;
    left: 128px !important;
}

.toright {
    pointer-events: none !important;
    opacity: 0 !important;
    left: 128px !important;
}