.slider {
    position: relative;
    /* border: var(--text) 2px dashed; */
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.slider > input {
    z-index: 1;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;

    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
}

.slider > input::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--slider-track);
    border-radius: 5px;
  }

.slider > input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 11px; 
    height: 11px; 
    margin-top: -4px;
    background: var(--slider-thumb);
    border-radius: 100%;
    cursor: pointer; 

    transition: background .32s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider > input::-webkit-slider-thumb:hover {
    background: var(--slider-thumb-hover);
}

.slider > .stops {
    z-index: -1;
    position: absolute;
    top: 4px;
    width: calc(100% - 8px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider > .stops > .stop {
    height: 100%;
    width: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.slider > .stops > .stop > .line {
    height: 9px;
    width: 2px;
    border-radius: 2px;
    background: var(--slider-ticks);
    
    transition: height .32s cubic-bezier(0.165, 0.84, 0.44, 1),
                background .32s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider > .stops > .stop.empty > .line {
    margin-top: 4px;
    height: 4px;
    background: var(--slider-ticks-empty) !important;
}

.slider > .stops > .stop.active > .line {
    height: 6px;
    width: 2px;
    background: var(--slider-ticks-active) !important;
}

.slider > .stops > .stop.empty.active > .line {
    margin-top: 4px;
    height: 2px;
    width: 2px;
    background: var(--slider-ticks-active) !important;
}

.slider > .stops > .stop > .value {
    font-size: 10px;
    font-weight: 700;
    position: relative;

    color: var(--slider-ticks) !important;

    transition: opacity .32s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider > .stops > .stop.active > .value {
    color: var(--slider-ticks-active) !important;
}

.slider > .stops > .stop:first-child {
    align-items: flex-start;
}

.slider > .stops > .stop:first-child > .value {
    left: -8px;
}

.slider > .stops > .stop:last-child {
    align-items: flex-end;
}

.slider > .stops > .stop:last-child > .value {
    right: -8px;
}

.slider > .stops > .stop.only-value > .value {
    top: -6px;
}

.slider > .stops > .stop.pointer > .value {
    top: -8px;
    opacity: 0;

    transition: top .16s cubic-bezier(0.165, 0.84, 0.44, 1),
                opacity .16s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider:hover > .stops > .stop.pointer > .value {
    top: -2px;
    opacity: 1;
}